:root {
    --clr-1: #000000;
    --clr-2: #FD6060;
    --clr-3: #FFF970;
    --clr-4: #6384fA;
    --clr-5: #8BF27A;
    --clr-6: #E799EE;
    --clr-8: #ffffff;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --call-to-action: #67e1ec;
}

html {
    font-size: 16px;
    font-family: var(--font-family);
    box-sizing: border-box;
    color: white;
}

body {
    width: auto;
    height: auto;
    background-color: rgb(33, 33, 33);
    padding-top: 20px;
    background-repeat:no-repeat;
}

.container-1 {
    border-radius: 20px;
    width: 100%;
    margin:auto;
    max-width: 1000px;
    background-color: rgb(33, 33, 33);
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.title-bar {
    align-self: center;
}

.container-2 {
    align-self: center;
    display: flex;
    gap: 16px;
}

/*components of title-bar*/
.title {
    font-size: 3rem;
}


/*components of container-2*/

.div-container {
    max-width: 600px;
    max-height: 600px;
    height: 90vw;
    width: 90vw;
    border: 2px solid black;
    background-color: white;
    display: flex;
    flex-flow: column;
    
}

.control-area {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.control-area-1 {
    display: flex;
    flex-flow: column;
}
.control-area-2 {
    display: flex;
    flex-flow: column;
    gap: 4px;
}
.control-area-3 {
    display: flex;
    flex-flow: column;
    gap: 4px;
}

.control-area-4 {
  justify-self: flex-end;
}

.color-panel {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    background-color: #4d4d4d;
    width: fit-content;
    padding: 8px;
    border-radius: 8px;
    align-self: center;
}
.color-panel-1 {
    display: flex;
    flex-flow: column;
    gap: 8px;
}
.color-panel-2 {
    display: flex;
    flex-flow: column;
    gap: 8px;
}

.colordiv {
    border-radius: 8px;
    height: 50px;
    width: 50px;
}

button {
    margin-top: 4px;
    box-sizing: border;
    font-family: var(--font-family);
    justify-self: flex-end;
    align-self: center;
    padding: 8px;
    border-radius: 20px;
    background-color: #ffa6ed;
    font-size: 1rem;
    width: 150px;
    height: 40px;
    border: none;
}

button:active {
    transform: scale(1.1);
    background-color: #ff8ce8;
}



.pixel-size-control {
    margin-top: 16px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}
.pixel-size-control > h3 {
    margin-bottom: 0px;
}
.myName {
    align-self: flex-end;
}

.slider {
    width:100%;
    outline:none;
    height: 10px;
    background: linear-gradient(to right, #ff85e7 16%, white 50%);
    -webkit-appearance: none;
    border-radius: 25px;
    margin-bottom: 8px;
}
.slider::-webkit-slider-thumb {
    cursor: pointer;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 25px;
    background-color: #ff00cc;
}

.column {
    border-radius: 20px;
    display: flex;
}


.letter1 {
     color: var(--clr-8);
}
.letter2 {
    color: var(--clr-2);
}
.letter3 {
    color: var(--clr-3);
}
.letter4 {
    color: var(--clr-4);
}
.letter5 {
    color: var(--clr-5);
}
.letter6 {
    color: var(--clr-8);
}
.letter7 {
    color: var(--clr-2);
}
.letter8 {
    color: var(--clr-3);
}
.letter9 {
    color: var(--clr-6);
}
.letter10 {
    color: var(--clr-5);
}


@media (min-width: 1201px) {
    button:hover {
        background-color: #ff8ce8;
    }
}

@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    .container-2 {
        flex-flow: column;
        }
    .control-area-1{
        flex-flow:column;
        justify-content: space-around;
    }
    .pixel-size-control {
        margin-top: 0px;
    }
    .color-panel {
        display: block;
    }
    .color-panel-1 {
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 8px;
    }
    .color-panel-2 {
        flex-direction: row;
        justify-content: space-around;
    }
    .control-area-4 {
        text-align: center;
        margin-top: 16px;
    }
    
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    .pixel-size-control {
        margin-top: 0px;
    }
    .title {
        font-size: 2rem;
    }
    
}

@media only screen and (max-width: 290px){
	/*Small smartphones [325px -> 425px]*/
    .title {
        font-size: 1.5rem;
    }
    
}