:root {
    --clr-1: #000000;
    --clr-2: #FD6060;
    --clr-3: #FFF970;
    --clr-4: #6384fA;
    --clr-5: #8BF27A;
    --clr-6: #E799EE;
    --clr-8: #ffffff;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --call-to-action: #67e1ec;
}

html {
    font-size: 16px;
    font-family: var(--font-family);
    box-sizing: border-box;
}

body {
    width: auto;
    height: auto;
    background-color: #d8d8d8;
    padding-top: 20px;
    background-repeat:no-repeat;
}

.container-1 {
    border-radius: 20px;
    width: 100%;
    margin:auto;
    max-width: 1400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.title-bar {
    align-self: center;
}

.container-2 {
    align-self: center;
    display: flex;
    gap: 16px;
}

/*components of title-bar*/
.title {
    font-size: 3rem;
}


/*components of container-2*/

.div-container {
    width: 600px;
    height: 600px;
    border: 2px solid black;
    display: flex;
    flex-flow: column;
}

.control-area {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.control-area-1 {
    display: flex;
    flex-flow: column;
    gap: 4px;
}


.control-area-2 {
  justify-self: flex-end;
}

.color-panel {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    background-color: #606060;
    width: fit-content;
    padding: 8px;
    border-radius: 20px;
    align-self: center;
}
.color-panel-1 {
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
}
.color-panel-2 {
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
}

.colordiv {
    border-radius: 14px;
    height: 50px;
    width: 50px;
}

.clear-button {
    box-sizing: border;
    font-family: var(--font-family);
    justify-self: flex-end;
    padding: 8px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: var(--call-to-action);
    font-size: 1.1rem;
}

.pixel-size-control {
    margin-top: 16px;
}
.myName {
    align-self: flex-end;
}

.slider {
    width:100%;
    outline:none;
    background-color: var(--call-to-action);
}

.column {
    border-radius: 20px;
    display: flex; 
    
}

.row {
    gap: 1px;
    background-color: gray;
}




