:root {
    --clr-1: #000000;
    --clr-2: #FD6060;
    --clr-3: #FFF970;
    --clr-4: #6384fA;
    --clr-5: #8BF27A;
    --clr-6: #E799EE;
    --clr-8: #ffffff;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --call-to-action: #67e1ec;
}


html {
    font-size: 16px;
    font-family: var(--font-family);
    box-sizing: border-box;
    color: white;
}

body {
    width: auto;
    height: auto;
    background-color: rgb(33, 33, 33);
    background-repeat:no-repeat;
    box-sizing: border-box;
}

.container-1 {
    border-radius: 20px;
    width: 100%;
    margin:auto;
    max-width: 1000px;
    background-color: rgb(33, 33, 33);
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.title-bar {
    align-self: center;
}

.container-2 {
    align-self: center;
    display: flex;
    gap: 16px;
}

/*components of title-bar*/
.title {
    font-size: 3rem;
}


/*components of container-2*/

.div-container {
    width: 650px;
    height: 650px;
    touch-action: none;
    display: grid;
    box-sizing: border-box;
}

.row {
    box-sizing: border-box;
    border: 0px;
    border-style: none !important;
    cursor: crosshair;
    background-color: white;
    display: block;
}

.control-area {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.control-area-1 {
    display: flex;
    flex-flow: column;
}
.control-area-2 {
    display: flex;
    flex-flow: column;
    gap: 4px;
}
.control-area-3 {
    display: flex;
    flex-flow: column;
    gap: 4px;
}

.control-area-4 {
  justify-self: flex-end;
}

.color-panel {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    background-color: #2e2e2e;
    width: fit-content;
    padding: 8px;
    border-radius: 8px;
    align-self: center;
}
.color-panel-1 {
    display: flex;
    flex-flow: column;
    gap: 8px;
}
.color-panel-2 {
    display: flex;
    flex-flow: column;
    gap: 8px;
}

.colordiv {
    border-radius: 8px;
    height: 50px;
    width: 50px;
}

.colordiv:hover {
    transform: scale(1.1);
}



button {
    margin-top: 4px;
    box-sizing: border;
    font-family: var(--font-family);
    justify-self: flex-end;
    align-self: center;
    padding: 8px;
    border-radius: 8px;
    background-color: #ff90e9;
    font-size: 1rem;
    width: 150px;
    height: 40px;
    border: none;
}

button:active {
    transform: scale(1.1);
}

.screenshot {
    background-color: rgb(241, 241, 241);
    margin-top: 8px;
}


.pixel-size-control {
    margin-top: 16px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}
.pixel-size-control > h3 {
    margin-bottom: 0px;
}
.myName {
    align-self: flex-end;
    text-decoration: none;
    color: white;
}

.slider {
    width:100%;
    outline:none;
    height: 10px;
    background: linear-gradient(to right, #ff85e7 10%, white 50%);
    -webkit-appearance: none;
    border-radius: 25px;
    margin-bottom: 8px;
}
.slider::-webkit-slider-thumb {
    cursor: pointer;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 25px;
    background-color: #ff00cc;
}
.slider::-moz-range-thumb {
    cursor: pointer;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 25px;
    background-color: #ff00cc;
}


.letter1 {
     color: var(--clr-8);
}
.letter2 {
    color: var(--clr-2);
}
.letter3 {
    color: var(--clr-3);
}
.letter4 {
    color: var(--clr-4);
}
.letter5 {
    color: var(--clr-5);
}
.letter6 {
    color: var(--clr-8);
}
.letter7 {
    color: var(--clr-2);
}
.letter8 {
    color: var(--clr-3);
}
.letter9 {
    color: var(--clr-6);
}
.letter10 {
    color: var(--clr-5);
}


.column {
    border: 0px;
    border-style: none !important;
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
}

.butContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.yesButton {
     transform: scale(0.9);
     font-weight: 700;
     font-size: 1.1rem;
}
.noButton {
    transform: scale(0.9);
    font-weight: 700;
    font-size: 1.1rem;
}


@media (min-width: 1201px) {
    button:hover {
        background-color: #ff66e0;
    }
    .modal-content {
        margin: 15% auto; /* 15% from the top and centered */
    }
    .screenshot:hover {
        background-color: rgb(197, 197, 197)
    }
    .modal-text1 {
        display: none;
    }
}

@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    .container-2 {
        flex-flow: column;
        }
    .control-area-1{
        flex-flow:column;
        justify-content: space-around;
    }
    .pixel-size-control {
        margin-top: 0px;
    }
    .color-panel {
        display: block;
    }
    .color-panel-1 {
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 8px;
    }
    .color-panel-2 {
        flex-direction: row;
        justify-content: space-around;
    }
    .control-area-4 {
        text-align: center;
        margin-top: 16px;
    }
    
}
@media only screen and (max-width: 800px){
	/*Big smartphones [426px -> 600px]*/
    .slider {
    
        background: linear-gradient(to right, #ff85e7 15%, white 30%);
    }
    .modal-content {
        margin: 50% auto; /* 15% from the top and centered */
    }
    .div-container {
        width: 600px;
        height: 600px;
    }
}
@media only screen and (max-width: 650px){
    .div-container {
        width: 500px;
        height: 500px;
    }
}
@media only screen and (max-width: 520px) {
    .div-container {
        width: 425px;
        height: 425px;
    }
}
@media only screen and (max-width: 425px) {
    .div-container {
        width: 380px;
        height: 380px;
    }
    .title {
        font-size: 2rem;
    }
}
@media only screen and (max-width: 380px){
    .pixel-size-control {
        margin-top: 0px;
    }
    .title {
        font-size: 2rem;
    }
    .div-container {
        width: 330px;
        height: 330px;
    }
}

@media only screen and (max-width: 330px){
    .title {
        font-size: 1.5rem;
    }
    .div-container {
        width: 270px;
        height: 270px;
    }
    
}

@media only screen and (max-width: 290px){
    .title {
        font-size: 1.5rem;
    }
    .div-container {
        width: 270px;
        height: 270px;
    }
    
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #1d1d1d;
    text-align: center;
    padding: 10px;
    width: fit-content; /* Could be more or less, depending on screen size */
    max-width: 600px;
    border-radius: 8px;
    font-family: var(--font-family);
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(72, 72, 72);
    text-decoration: none;
    cursor: pointer;
  }

  .modal-text1 {
     font-size: 0.8rem;
  }